<div class="w-full py-8 px-4 flex flex-col justify-evenly items-center sm:flex-row sm:justify-evenly sm:items-start min-h-full gap-5">
    <div class="card-option cursor-pointer w-32 h-32 sm:w-44 sm:h-44 md:w-52 md:h-52 gap-3 flex flex-col justify-center items-center rounded-lg shadow-md bg-primary-light dark:bg-primary-dark text-primary-dark dark:text-primary-light" routerLink="roles-list">
        <mat-icon class="text-5xl w-12 h-12">supervisor_account</mat-icon>
        <h2 class="text-2xl sm:text-3xl">Roles</h2>
    </div>
    <div class="card-option cursor-pointer w-32 h-32 sm:w-44 sm:h-44 md:w-52 md:h-52 gap-3 flex flex-col justify-center items-center rounded-lg shadow-md bg-primary-light dark:bg-primary-dark text-primary-dark dark:text-primary-light" routerLink="profiles-list">
        <mat-icon class="text-5xl w-12 h-12">groups</mat-icon>
        <h2 class="text-2xl sm:text-3xl">Perfiles</h2>
    </div>
</div>