<div class="mode-theme w-10 h-10 bg-primary-dark dark:bg-secondary-light flex flex-row justify-evenly items-center rounded-full absolute top-2 sm:top-3 right-2 overflow-hidden z-50 cursor-pointer select-none" (click)="setTheme()">
    <div 
        class="imgs-theme w-28 h-28 rounded-full flex flex-col justify-between items-center mt-20"
        [ngClass]="{'dark': themeDark}"
        id="imgTheme"
    >
        <img src="assets/images/icons/sun.png" alt="" class="w-6 h-6">
        <img src="assets/images/icons/moon.png" alt="" class="w-6 h-6 img-moon">
    </div>
</div>
<router-outlet></router-outlet>